body {
  margin: 0;
  padding: 0;
}

.hero {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  font-family: "sacramento";
  font-weight: bolder;
}
.hero h4,
h1,
h2 {
  font-family: "Alkatra";
  color: white;
  text-shadow: 10px 5px 10px gray;
  margin-bottom: 30px;
}
.hero ::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-image: url(img/beatriz-perez-moya-M2T1j-6Fn8w-unsplash.jpg);
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  fill-opacity: 0.5;
  margin-top: 0;
  filter: grayscale(75%);
}
.tombol {
  color: white;
  border: 1px solid white;
  background-color: pink;
  font-family: "Alkatra";
  padding: 10px;
  border-radius: 10px;
}
.tombol:hover {
  color: pink !important;
  border: 1px solid pink !important;
  background-color: white !important;
  font-family: "Alkatra";
}
.icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 5px;
}
.icon :hover {
  border: none;
}
.ff {
  font-family: "sacramento";
}
