body {
  margin: 0;
  padding: 0;
}

.hero {
  padding-top: 60px;
}

.hero h1 {
  font-family: "sacramento";
  font-weight: bolder;
}
.hero h4,
h1,
h2 {
  font-family: "Alkatra";
  color: white;
  text-shadow: 2px 2px 5px gray;
  margin-bottom: 30px;
}
.bg-foto {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: change 16s alternate infinite both;
  z-index: -1;
}
@keyframes change {
  0% {
    background-image: url(img/love1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background-image: url(img/love.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.tombol {
  color: white;
  border: 1px solid white;
  background-color: pink;
  font-family: "Alkatra";
  padding: 10px;
  border-radius: 10px;
}
.tombol:hover {
  color: pink !important;
  border: 1px solid pink !important;
  background-color: white !important;
  font-family: "Alkatra";
}
.icon {
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  margin-right: 5px;
}
.icon :hover {
  border: none;
}
.ff {
  font-family: "sacramento";
}
