.navbar-nav a {
  font-family: "Alkatra";
}
.navbar {
  backdrop-filter: blur(2px);
}
.navbar .offcanvas {
  height: 100vh;
}
.ff {
  font-family: "sacramento";
  font-size: 70px;
}
.mycontent {
  font-size: 1.4rem;
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  margin-top: -100px;
  padding-bottom: 120px;
}
.mycontent h1,
h3,
p {
  font-family: "Alkatra";
}
.tanggal {
  font-family: "Alkatra";
}

.opening {
  position: relative;
  font-family: "Alkatra";
}
.opening ::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(180deg);
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  z-index: -1;
}
.informasi {
  position: relative;
  font-family: "Alkatra";
}
.informasi ::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  z-index: -1;
}
.inya {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tombolmap {
  outline-color: pink;
  border: 2px solid pink;
  border-radius: 10px;
  color: pink;
  background: white;
  box-shadow: 2px 2px 4px pink;
  padding: 5px;
  align-items: center;
}
.tombolmap a {
  text-decoration: none;
  color: pink;
}
.tombolmap a:hover {
  color: purple;
}
.gift {
  font-family: "Alkatra";
}
.list-group {
  font-size: 1.1rem;
}
.audio-container {
  display: block;
  width: 50px;
}
.audio-icon-wrapper {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  box-shadow: 2px 2px 4px pink;
  cursor: pointer;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.musik {
  color: purple;
  font-size: 2rem;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* media query */

/* laptop */
@media (max-width: 992px) {
  .mycontent {
    padding-bottom: 50px !important;
  }
}
.ff {
  font-size: 60px;
}
/* tablet */
@media (max-width: 768px) {
  .mycontent {
    padding-bottom: 20px !important;
  }
}
.ff {
  font-size: 50px;
}
/* mobile */
@media (max-width: 576) {
  .mycontent {
    padding-bottom: 20px !important;
  }
}
.ff {
  font-size: 45px;
}
