body {
  font-size: 1.2rem;
  font-family: "Alkatra";
}
.navbar-nav a {
  font-family: "Alkatra";
}
.navbar {
  backdrop-filter: blur(2px);
}
.navbar .offcanvas {
  height: 100vh;
}
.ff {
  font-family: "sacramento";
  font-size: 3rem;
}
.mycontent {
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  margin-top: -100px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mycontent h1,
h3,
p {
  font-family: "Alkatra";
}
.tanggal {
  font-family: "Alkatra";
}
#tgl {
  margin-right: 30px;
  padding-top: 8%;
}
.list-group-item span {
  float: right;
}

.opening {
  position: relative;
  font-family: "Alkatra";
}
.opening ::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: rotate(180deg);
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.informasi {
  position: relative;
  font-family: "Alkatra";
}
.informasi ::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  z-index: -1;
}
.inya {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.tombolmap {
  outline-color: pink;
  border: 2px solid pink;
  border-radius: 10px;
  color: pink;
  background: white;
  box-shadow: 2px 2px 4px pink;
  padding: 5px;
  align-items: center;
}
.tombolmap a {
  text-decoration: none;
  color: pink;
}
.tombolmap a:hover {
  color: purple;
}
.gift {
  font-family: "Alkatra";
}
.audio-container {
  display: block;
  width: 50px;
}
.audio-icon-wrapper {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  box-shadow: 2px 2px 4px pink;
  cursor: pointer;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
.beri {
  margin-top: 60px;
}
.card-text {
  font-size: 1.1rem;
  letter-spacing: 0px;
}
.sosmed i {
  font-size: 5%;
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
h3 {
  font-size: 2rem;
}
.musik {
  font-size: 2.5rem;
}
/* media queryes */

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
    margin: 10px;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
}

/* mobile */
@media (max-width: 576px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 55px;
    margin: 3px;
  }
}
