body {
  min-height: 4000px;
}
.navbar-nav a {
  font-family: "Alkatra";
}
.navbar {
  backdrop-filter: blur(2px);
}
.navbar .offcanvas {
  height: 100vh;
}
.ff {
  font-family: "sacramento";
  font-size: 1.5rem;
}
.mycontent {
  font-size: 1.4rem;
  background-image: url(../img/—Slidesdocs—pink\ frame\ border\ flower\ shading_0abfa58172.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  margin-top: -100px;
  padding-bottom: 200px;
}
.mycontent h1,
h3,
p {
  font-family: "Alkatra";
}
.tanggal {
  font-family: "Alkatra";
}
/* media query */

/* laptop */
@media (max-width: 992px) {
}
/* tablet */
@media (max-width: 768px) {
}
/* mobile */
@media (max-width: 576) {
}
